[Desktop Entry]
Encoding=UTF-8
Name=Link to Gradient descent algorithms and adaptive learning rate adjustment methods
Type=Link
URL=https://towardsdatascience.com/gradient-descent-algorithms-and-adaptive-learning-rate-adjustment-methods-79c701b086be
Icon=text-html
